.aiwriter-chatwindow {
  position: absolute;
  width: 50%;
  min-width: 900px;
  max-width: 80%;
  height: calc(100vh - 4rem);
  padding: 2rem;
  background-color: #fff;
  outline: 3px solid #480693;
  right: 0;
  box-shadow: 0 0 10px #0000007F;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 900px) {
	min-width: calc(100vw - 4rem);
	z-index: 9999;
  }

  h1 {
	padding: 0 1rem;
	flex: 1 0 auto;
  }

  &.hidden {
	display: none;
  }

  .aiwriter-chatwindow__header {
	display: flex;
	justify-content: space-between;
	gap: .5rem;
  }

  .aiwriter-chatwindow__footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: .5rem;

	.aiwriter-chatwindow__footer__prompt {
	  flex: 1 1 auto;
	  margin-bottom: 0;
	}

	button {
	  margin-bottom: .7rem;
	}
  }

  .aiwriter-chatwindow__body {
	height: 100%;
	overflow-x: auto;

	.aiwriter-chatwindow__body__message {
	  display: flex;
	  flex-direction: row;
	  justify-content: space-between;
	  padding: 1rem;
	  border-left: 2px solid transparent;
	  font-size: .9rem;
	  line-height: 1.3rem;

	  pre {
		background-color: #000;
		color: #fff;
	  }

	  table,
	  table td,
	  table th {
		border: 1px solid black;
		padding: .5em;
	  }

	  table {
		border-collapse: collapse;
		margin: .5em 0;
	  }

	  p {
		margin: 0;
		font-size: 1rem;
	  }

	  div {
		flex: 0 1 auto;
		margin-left: 1rem;
		white-space: pre-line;
	  }

	  &.referred {
		border-left: 2px solid #480693;
	  }
	}

	& > .aiwriter-chatwindow__body__message:nth-child(even) {
	  border-bottom: 1px solid #00000019;
	  border-top: 1px solid #00000019;
	}

	& > .aiwriter-chatwindow__body__message.assistant {
	  background-color: #F7F7F8FF;
	}

	.ai-loader {
	  margin: 1rem;
	  display: block;
	}

	.aiwriter-chatwindow__body_stop {
	  display: flex;

	  button {
		align-self: center;
	  }
	}
  }
}

